/* Styling für die Einkaufsliste */

.shopping-list-header {
    text-align: center;
    color: var(--blue_1);
    padding: var(--spacing-md);
}

/* Einkaufsliste */

.shopping-list-main {
    background-color: var(--white);
    border-radius: var(--border-radius);
    background-color: var(--blue_9);
}

.shopping-list {
    
    display: flex;
    flex-flow: column;
    gap: 12px;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    overflow: auto;
}

.list-item {
    display: flex;
    padding-block: var(--spacing-sm);
    background-color: var(--blue_3);
    border: 1px solid var(--blue_1);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.list-item:hover {
    background-color: var(--blue_5);
}

.list-item-entry {
    flex: 1;
    display: flex;
    gap: 12px;
}

.list-item-text {
    flex: 2;
    padding-left: var(--spacing-md);
}

.list-item-quant {
    flex: 1;
}

.list-item-menu {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--spacing-sm);
}

.list-item-menu p {
   transition: var(--transition);
}

.list-item-menu p:hover {
    transform: scale(1.31);
    filter: brightness(1.15);
    cursor: pointer;
}

/* 3-Punkte-Menü für einzelne Listeneinträge */

.list-dialog {
    position: absolute;
    z-index: 3;
    top: calc(-1 * var(--spacing-md));
    left: calc(-1 * var(--spacing-xl));
    padding: var(--spacing-sm);
    border-radius: var(--spacing-xs);
    background-color: var(--blue_7);
    border: 1px solid var(--blue_9);
}

.list-dialog ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.list-dialog li {
    padding: var(--spacing-xs);
    border-radius: var(--spacing-xs);
    background-color: var(--blue_8);
    border: 1px solid var(--blue_9);
    transition: var(--transition);
}

.list-dialog li:hover {
    cursor: pointer;
    background-color: var(--blue_6);
}

.list-dialog li:active {
    background-color: var(--blue_5);
}

/* Menü ganz unten unter der Einkaufsliste */

.list-main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding-inline: var(--spacing-sm);;
}

.menu-tab {
    padding-block: var(--spacing-sm);
    border: 1px solid var(--blue_1);
    border-radius: var(--border-radius);
    flex: 1;
    background-color: var(--blue_3);
    text-align: center;
}

.menu-tab:hover {
    background-color: var(--blue_2);
    cursor: pointer;
    transform: scale(1.01);
}

.menu-tab:active {
    background-color: var(--blue_1);
    transform: scale(0.99);
}

