/* /* Styling für die App - Einkaufslisten */

.shopping-list-header {
    text-align: center;
    color: var(--blue_1);
    padding: var(--spacing-base);
}

.shopping-list-main {
    background-color: var(--white);
    border-radius: var(--border-radius);
    background-color: var(--blue_9);
}

.shopping-list {
    
    display: flex;
    flex-flow: column;
    gap: 12px;
    padding: var(--small-spacing-base);
    border-radius: var(--border-radius);
    overflow: auto;
}

.list-item {
    display: flex;
    padding-block: var(--small-spacing-base);
    background-color: var(--blue_3);
    border: 1px solid var(--blue_1);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.list-item:hover {
    background-color: var(--blue_5);
}

.list-item-entry {
    flex: 1;
    display: flex;
    gap: 12px;
}

.list-item-text {
    flex: 2;
    padding-left: var(--spacing-base);
}

.list-item-quant {
    flex: 1;
}

.list-item-menu {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--small-spacing-base);
}

.list-item-menu p:hover {
    transform: scale(1.31);
    filter: brightness(1.15);
    cursor: pointer;
}

.list-main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small-spacing-base);
    padding-inline: var(--small-spacing-base);;
}

.menu-tab {
    padding-block: var(--small-spacing-base);
    border: 1px solid var(--blue_1);
    border-radius: var(--border-radius);
    flex: 1;
    background-color: var(--blue_3);
    text-align: center;
}

.menu-tab:hover {
    background-color: var(--blue_2);
    cursor: pointer;
    transform: scale(1.01);
}

.menu-tab:active {
    background-color: var(--blue_1);
    transform: scale(0.99);
}