/* /* Styling für die App - Einkaufslisten */

.shopping-list {
    background-color: var(--prime_blue);
    display: flex;
    flex-flow: column;
    gap: 12px;
    padding: 12px;
    border-radius: var(--border-radius);
    overflow: scroll;

}

.list-item {
    display: flex;
    background-color: var(--bg_blue_dark);
    /* background-color: blue; */

    border: 1px solid var(--bg_darkblue_dark);
    /* border: 1px solid red; */
    border-radius: var(--border-radius);
    transition: var(--transition);


}

.list-item:hover {
    background-color: var(--bg_blue_light);
    cursor: pointer;
    transition: var(--transition);
    transform: scale(1.01);
    filter: brightness(1.05);
    
}

.list-item-entry {
    flex: 1;
    display: flex;
    gap: 12px;

}
/*

--bg_darkblue_dark: #06171E;
    --bg_darkblue_light: #09212A;

    --bg_blue_dark: #0D3240;
    --bg_blue_light: #124658;

    --prime_blue: #6BC1E1;



*/

.list-item-text {
    flex: 2;
    padding-left: var(--spacing-base);
    

}

.list-item-quant {
    flex: 1;

}

.list-item-menu {
    width: 10%;
    display: flex;
    align-items: center;
}

.list-item-menu:hover {

}

.main-menu {

}

.menu-tab {

}

